input[type="submit"] {
  background: url('images/button-bg.png') no-repeat 0 0 transparent;
  clip: auto;
  color: #ffffff;
  font-weight: lighter;
  font-family: Myriad Pro Light, serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 0 none;
  width: 70px;
  height: 31px;
  letter-spacing: 1.2pt;
  cursor: pointer;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 0 2px #222222;
  -webkit-text-shadow: 0 0 2px #222222;
  -moz-text-shadow: 0 0 2px #222222;
}
form > p { margin: 0.25em 0 0; }
form > p:last-child { margin-top: 0.75em; }
form label {
  float: left;
  color: #333333;
  text-shadow: 1px 1px 1px #aaaaaa;
  -webkit-text-shadow: 1px 1px 1px #aaaaaa;
  -moz-text-shadow: 1px 1px 1px #aaaaaa;
  display: inline-block;
  width: 75px;
}
input[type="text"]:focus + label {
  color: #202020;
  text-shadow: 1px 1px 2px #777777;
  -webkit-text-shadow: 1px 1px 2px #777777;
  -moz-text-shadow: 1px 1px 2px #777777;
}
input[type="password"]:focus + label {
  color: #202020;
  text-shadow: 1px 1px 2px #777777;
  -webkit-text-shadow: 1px 1px 2px #777777;
  -moz-text-shadow: 1px 1px 2px #777777;
}
input[type="submit"]:hover { background-position: 0 -31px; }
input[type="submit"]:focus { background-position: 0 -31px; }
input[type="submit"]:active { background-position: 0 -62px; }
input[type="submit"]:active:hover { background-position: 0 -62px; }
input[type="submit"]::-moz-focus-inner {
  border: 0 !important;
  outline: none !important;
}
input[type="text"], input[type="password"] {
  color: #333333;
  border: 1px solid #888888;
  box-shadow: 0px 0px 2px #aaaaaa;
  -webkit-box-shadow: 0px 0px 2px #aaaaaa;
  -moz-box-shadow: 0px 0px 2px #aaaaaa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
input[type="text"]:focus {
  box-shadow: 0px 0px 2px #0297b7;
  -webkit-box-shadow: 0px 0px 2px #0297b7;
  -moz-box-shadow: 0px 0px 2px #0297b7;
}
input[type="password"]:focus {
  box-shadow: 0px 0px 2px #0297b7;
  -webkit-box-shadow: 0px 0px 2px #0297b7;
  -moz-box-shadow: 0px 0px 2px #0297b7;
}
span.err {
  box-shadow: 1px 1px 2px #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 7px 3px 3px;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #888888;
  color: #444444;
  background: #eaeaea;
  text-shadow: 0px 1px 1px #aaaaaa;
  -webkit-text-shadow: 0px 1px 1px #aaaaaa;
  -moz-text-shadow: 0px 1px 1px #aaaaaa;
}
span.err > span.error {
  height: 15px;
  padding-left: 20px;
  background: url('images/icon-error.png') left center no-repeat;
  display: inline-block;
  clip: auto;
}
