@import url(http://fonts.googleapis.com/css?family=Lato:bold);
input[type="submit"] {
  background: url('images/button-bg.png') no-repeat 0 0 transparent;
  clip: auto;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lato', arial, serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 0 none;
  width: 80px;
  height: 31px;
  letter-spacing: 0.2pt;
  cursor: pointer;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 1px 1px 2px #222222;
  -webkit-text-shadow: 1px 1px 2px #222222;
  -moz-text-shadow: 1px 1px 2px #222222;
}
form > p { margin: 0.25em 0 0;display:block; }
form > p:last-child { margin-top: 0.75em; }
form[name="register"] label { width: 125px; }
form[name="login"] label { width: 75px; }
form label {
  float: left;
  color: #222;
  text-shadow: 1px 1px 1px #aaa;
  -webkit-text-shadow: 1px 1px 1px #aaa;
  -moz-text-shadow: 1px 1px 1px #aaa;
  display: inline-block;
}
input[type="text"]:focus + label,input[type="password"]:focus + label {
  color: #101010;
  text-shadow: 1px 1px 2px #666;
  -webkit-text-shadow: 1px 1px 2px #666;
  -moz-text-shadow: 1px 1px 2px #777;
  text-decoration: underline;
}
input[type="submit"]:hover,input[type="submit"]:focus  { background-position: 0 -31px; }
input[type="submit"]:active,input[type="submit"]:active:hover { background-position: 0 -62px; }
input[type="submit"]::-moz-focus-inner {
  border: 0 !important;
  outline: none !important;
}
input[type="text"], input[type="password"] {
  color: #333333;
  border: 1px solid #888888;
  box-shadow: 0px 0px 2px #aaaaaa;
  -webkit-box-shadow: 0px 0px 2px #aaaaaa;
  -moz-box-shadow: 0px 0px 2px #aaaaaa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
input[type="text"]:focus,input[type="password"]:focus {
  box-shadow: 0px 0px 3px #0297b7;
  -webkit-box-shadow: 0px 0px 3px #0297b7;
  -moz-box-shadow: 0px 0px 2px #0297b7;
  outline:0 none;
}

span.err,span.msg {
  box-shadow: 1px 1px 2px #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 7px 3px 3px;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #888888;
  color: #444444;
  background: #eaeaea;
  text-shadow: 0px 1px 1px #aaaaaa;
  -webkit-text-shadow: 0px 1px 1px #aaaaaa;
  -moz-text-shadow: 0px 1px 1px #aaaaaa;
}
span.err > span.error, span.msg > span.messg {
  padding-left: 20px;
  display: inline-block;
  clip: auto;
}
span.err > span.error {
  height: 15px;
  background: url('images/icon-error.png') left center no-repeat;
}
span.msg > span.messg {
  height: 16px;
  background: url('images/icon-success.png') left center no-repeat;
}
