{% extends "base.html" %}

{% block title %} Content {% endblock %}

{% block content %}
	{% for post in posts %}
                        <div class="post">
                                <h1 class="title"><a href="#">{{ post.title|e }}</a></h1>
                                <p class="byline"><small>FUCK OFF66 {{ post.date_posted|date("m/d/Y") }} by <a href="#">{{ post.username|e }}</a></small></p>
                                <div class="entry">
                                	{{ post.content|nl2br|truncate }}
					<br /> <br />
					[ <a href="view_post.php?id={{ post.id|e }}">View rest of post</a> ]
				</div>
                        </div>
	{% endfor %}
{% endblock %}
