{% extends "base.html" %}
{% block content %}
<div class="section wrap text clearfix">
    
    	<div class="scrollable-wrap clearfix">
            
            <div class="scrollable">   
               <div class="items">
                    <div class="scroll-item">
                    	<img src="themes/dotdotgo/images/default-928.png" alt="image" />
                    	<div class="scroll-title">
                        	<h2><span>dot.dot.go provides you perspective...</span></h2>
                        </div>
                 </div>
                    <div class="scroll-item">
                    	<img src="themes/dotdotgo/images/default-928.png" alt="image" />
                    	<div class="scroll-title">
                        	<h2><span>...it gives you the tools necessary to cross over...</span></h2>
                        </div>	
                 </div>
                    <div class="scroll-item">
                    	<img src="themes/dotdotgo/images/default-928.png" alt="image" />
                    	<div class="scroll-title">
                        	<h2><span>...to take you places you've always dreamed about, but never had the chance to experience.</span></h2>
                        </div>
               	 </div>
                    <div class="scroll-item">
                    	<img src="themes/dotdotgo/images/default-928.png" alt="image" />
                    	<div class="scroll-title">
                        	<h2><span>dot.dot.go is your partner for a better future on the web - <a href="page.htm" rel="nofollow">Read More</a></span></h2>
                        </div>
               	 </div>
               </div>
            </div>
            
            <div class="navi"></div>
      	</div><!-- Scrollable Wrap -->
        
        <div class="mid-wrap clearfix">
            <div class="three-one">
            	<h3>15 Templates</h3>
                <div class="three-text">
                <img src="themes/dotdotgo/images/templates.png" class="aligncenter" alt="image" />
                <p>With 15 templates <em>dot.dot.go</em> has the right one for you! Showcase your Business, Portfolio, App and more.</p>
                </div>
            </div>
            
            <div class="three-two">
            	<h3>8 Color and 5 Background Styles</h3>
                <div class="three-text">
                <img src="themes/dotdotgo/images/style.png" class="aligncenter" alt="image" />
                <p><em>dot.dot.go</em> comes with 8 color styles and 5 background choices. Each color story has been carefully selected to cater to most tastes and styles. <a href="#">Choose dot.dot.go today</a>!</p>
              </div>
            </div>
            
            <div class="three-three">
            	<h3>jQuery Ready</h3>
                <div class="three-text">
                <img src="themes/dotdotgo/images/jquery.png" class="aligncenter" alt="image" />
               	<p>Templates are nice, with jQuery features they're better! Easily customize templates to propel your brand online.</p>
                </div>
            </div>
        </div><!-- Mid Wrap --> 
	
	<div class="footer foot-four">
		<ul class="clearfix">
			<li>
				<h3>Accredition</h3>
                	<div class="textwidget">
						<img src="themes/dotdotgo/images/bbb-example.png" alt="image" class="alignleft" />
                        <p>We are fully committed to providing you with the best service. <a href="#">Learn more &rsaquo;</a></p>
                    </div>
			</li>
			<li>
				<h3>Connect With Us</h3>
                	<div class="textwidget">
                    	<a href="#"><img src="themes/dotdotgo/images/rss.png" alt="RSS" class="alignleft" /></a>
						<p><a href="#">Subscribe to RSS Updates</a></p>
                        <p class="underline">dot.dot.go on the social web</p>
                        <ul class="footer-social">
                        	<li><a href="#"><img src="themes/dotdotgo/images/email.png" alt="Email" title="Email" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/twitter.png" alt="Twitter" title="Twitter" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/facebook.png" alt="Facebook" title="Facebook" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/flickr.png" alt="Flickr" title="Flickr" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/reddit.png" alt="Reddit" title="Reddit" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/delicious.png" alt="Delicious" title="Delicious" /></a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/digg.png" alt="Digg" title="Digg" /></a></li>
                        </ul>
                    </div>
			</li>
			<li>
				<h3>Contact Us</h3>
					<div class="textwidget">
                    	<a href="#"><img src="themes/dotdotgo/images/contact.png" alt="Contact" class="alignleft" /></a>
						<p>Send an email or, <a href="#">contact here</a></p>
                        <p class="underline">Telephone / Fax:</p>
                        <h3>1-800-dotdotgo</h3>
                    </div>
	     	</li>
            <li>
				<h3>Latest News</h3>
					<div class="textwidget">
                    	<a href="#"><img src="themes/dotdotgo/images/avatar.png" alt="Avatar" class="alignleft" /></a>
						<p><a href="#">Our CEO shares his vision</a></p>
                        <p>Phasellus non sagittis ligula. Nam semper hendrerit arcu at redi.</p>
                    </div>
	     	</li>
		</ul>
	</div><!-- Footer Ends -->
    
    </div><!-- Wrap -->
	
	 <div class="footer foot-twitter">
    	<ul id="twitter_update_list"><li></li></ul>
    </div>
{% endblock %}