{% extends "base.html" %}
{% block css %}
	{{ parent() }}
	<link href="themes/dotdotgo/home.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block content %}

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		waitForMsg();
	});

	function addmsg(type, msg){
		$("<li>"+ msg +"</li>").hide().prependTo("#spy").slideDown(500);
		if ($("#spy li").size() > 9){
			$("#spy").find('> li:last').animate({ height : 0, opacity: 0}, 300, function () {
				$(this).remove();
			});
		}
	}

	function waitForMsg(){
		$.ajax({
			type: "GET",
			url: "longpoll.php",	//replace with script that generates activity
			async: true, /* If set to non-async, browser shows page as "Loading.."*/
			cache: false,
			timeout:50000, /* Timeout in ms */
			
			success: function(data){
				addmsg("new", data);
				setTimeout('waitForMsg()', 2000
				);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				addmsg("error", textStatus + " (" + errorThrown + ")");
				setTimeout('waitForMsg()', "15000");
			},
		});
	};
	
</script>

        <div class="mid-wrap clearfix">
            <div class="three-one three-span-three">
            	<h3>Recent Activity</h3>
                <div class="three-text">
                	<div id="messages">
						<ul id="spy">
						</ul>
					</div>
                </div>
            </div>
            
            <div class="three-one">
            	<h3>Featured Achievement</h3>
                <div class="three-text">
                <img src="images/icons/289px/34354.png" class="aligncenter" alt="image" height='150px' width='150px'/>
				<!-- achievemnt of the day -->
               	<h4 class='achtitle'>Barfly</h4>
				<p>A round of drinks to the entire bar?  HELLS YEAH!</p>
				<!-- end o achievement of the day -->
                </div>
            </div>

            <div class="three-one">
            	<h3>Featured Location</h3>
                <div class="three-text">
                <img src="images/icons/289px/444324.png" class="aligncenter" alt="image" height='150px'/>
				<!-- achievemnt of the day -->
               	<h4 class='achtitle'>Great Wall of China</h4>
				<p>Just because you can't really see it fom space, it doesnt make it any less awesome'</p>
				<!-- end o achievement of the day -->
                </div>
            </div>

        </div><!-- Mid Wrap --> 
	
{% include 'footer.html' %}

{% endblock %}

