{% extends "base.html" %}
{% block title %} Forgotten Password {% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}
		<div class="section full">
			
			<h1>Forgotten Password</h1>
            
             <div>
				<div class="signup-login">
					<div class="signup-login-text">
						<p><img src="themes/dotdotgo/images/avatar.png" alt="image" class="alignleft" /></p>
					</div>
					<form method="POST" name="login" id="loginform" action="forgot_password.php" autocomplete="off">
						<p>
							{% if msg %}
								{% if msg != 'You have registered' %}
									<p class="alert">{{ msg|e }}.</p>							
								{% endif %}
							{% endif %}
						</p>
						{% if msg == 'You have registered' %}
							<p class="check">{{ msg|e }}.</p>
						{% endif %}
						<input type="hidden" name="op" value="forgot" />
						<p><input type="text" name="email" placeholder="Your email address" class="yourname" /></p>
						<p><input type="submit" name="forgotSubmit" value="Forgot Password" /></p>
					</form>
				</div>
			</div>
			
		</div><!-- Section -->
    
{% endblock %}
