{% extends "base.html" %}
{% block title %} Goals {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section full">
			
			<h1>Browsing goal: {{ goal.name }}</h1>

			{% if msg %}
				<p class="alert">{{ msg|e }}</p>
			{% endif %}		
			
			{% if goal %}
			<ul>
				<img src="{{ goal.icon|e }}" /> 
				<p></p>
				<h4>{{ goal.name|e }}</h4> 
				<p>{{ goal.info|e }}</p>
			</ul>

			{% for comment in comments %}
				<blockquote>		        
            		<p>{{ comment.first_name|e }} {{ comment.last_name|e }}  <br /> {{ comment.content|e }}</p>
				</blockquote>
        	{% endfor %}

        	<br /> <br />

			<div class="signup-login"> <!-- CSS needed for this... -->
        		<form name="post_comment" action="" method="POST">
                	<input type="hidden" name="page_id" value="{{ page_id|e }}" />
        			<input type="hidden" name="module_id" value="2" />
                	<textarea name="content" placeholder="Your comment here"></textarea> <br/>
                	<input type="submit" name="post_comment"  value="comment" />
        		</form>
			</div>
			{% else %}
				<!-- fire an event here... -->
				<h4>No such goal to display</h4>
			{% endif %}

		</div><!-- Section -->

{% endblock %} 	
