{% extends "base.html" %}
{% block title %} Goals {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section full">
			
			<h1>Goals - what should you do?</h1>

			{% if msg %}
				<p class="alert">{{ msg|e }}</p>
			{% endif %}		

			<h3><a href="#">Water-based</a></h3>
			<ul>
    		{% for goal in goals %}
        		<li><img src="{{ goal.icon|e }}" /> <a href="goals_show.php?id={{ goal.id|e }}">{{ goal.name|e }}</a> [<a href="goals.php?action=addGoal&id={{ goal.id|e}}">add</a>]</li>
    		{% endfor %}
			</ul>

		</div><!-- Section -->

{% endblock %} 	
