{% extends "base.html" %}
{% block title %} Goals {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section full">
			
			<h1><img style="vertical-align: middle" src="{{ goal.icon|e }}" />  Browsing goal: {{ goal.name }}</h1>

			{% if msg %}
				<p class="alert">{{ msg|e }}</p>
			{% endif %}		
			
			{% if goal %}
			<ul>
				
				<img class="goalImg" src="{{ goal.descriptive_image }}" />
				<h4>Goal</h4> 
				<p>{{ goal.name|e }}</p>
				{% if goal.location %}
				<h4>Location</h4>
				<p>{{ goal.location|e }} <br />
				<small>
				{% if place_location %} 
					<a href="#">{{ place_location.country_name }}</a> 
					<a href="#">{{ place_location.region_name }}</a> 
					<a href="goals.php?place={{ place_location.place_name }}">{{ place_location.place_name }}</a>
				{% endif %}
				</small>
				</p>
				{% endif %}
				{% if count_added %}
				<p>People attempting this: {{ count_added.goal_count }}</p>
				{% endif %}
				<h4><a href="goals.php?action=addGoal&id={{ goal.id|e}}"> Add Goal</a></h4>
				<p style="clear:both">{{ goal.info|raw }}</p>

			</ul>

			<div class="comment-post"> <!-- CSS needed for this... -->
        		<form name="post_comment" action="" method="POST">
                	<input type="hidden" name="page_id" value="{{ page_id|e }}" />
        			<input type="hidden" name="module_id" value="2" />
                	<textarea class="post" name="content" placeholder="Your comment here"></textarea> <br/>
                	<input type="submit" name="post_comment"  value="comment" />
        		</form>
			</div>

			<p></p>
			<p></p>				

			{% for comment in comments %}
				<blockquote>		        
					{% if comment.first_name %}
            			<p><a href="#">{{ comment.first_name|e }} {{ comment.last_name|e }}</a></p>
					{% else %}
						<p><a href="#">{{ comment.email|e }}</a></p>
					{% endif %}
					<p>{{ comment.content|stripslashes|nl2br }}</p>
				</blockquote>
        		{% endfor %}
	
		{% else %}
				<!-- fire an event here... -->
				<h4>No such goal to display</h4>
			{% endif %}
		</div><!-- Section -->

{% endblock %} 	
