{% extends "base.html" %}
{% block title %} Goals {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section full">
			
			<h1>Goals - what should you do?</h1>
		
			<!-- example -->
			<h3><a href="#">Water-based</a></h3>
			<ul>
    		{% for goal in goals %}
        		<li><a href="goal_show.php?id={{ goal.id|e }}">{{ goal.name|e }}</a></li>
    		{% endfor %}
			</ul>

			<!-- example 2 -->
            <h3><a href="#">Water-based</a></h3>
            <ul>
            {% for goal in goals %}
                <li><a href="goals.php?action=addGoal&id={{ goal.id|e }}">{{ goal.name|e }}</a></li>
            {% endfor %}
            </ul>			

		</div><!-- Section -->

{% endblock %} 	
