{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{{ parent() }}
<!--[if IE]><link rel="stylesheet" href="/themes/wip2/forms.ie.css" type="text/css" media="screen" /><![endif]-->
<script type="text/javascript" language="javascript">
	/*<![CDATA[*/
	$(function(){
		if(jQuery.browser.safari) { $('label').css('font-weight', '600'); }
		/* Some multi-use functions. */
		$.fn.error = function(_e) {
			return $('<p class="warning" />')
					.html('<p class="warning"><strong>Error</strong>: ' + _e + '</p>')
					.insertAfter(this);
		};
		$.fn.checkForm = function() {
			var _c = true;
			$('input.required').each(function() {
				_c = ($(this).val().length > 0) && _c;
			});
			return _c;
		}


		/* Clear any error message when the user begins typing. */
		$('input.required').keypress(function(event) {
			if($('p.warning').length > 0) {
				if($(this).checkForm()) {
					$('p.warning').fadeOut(750, function(){
						$(this).remove();
					})
				}
			}
		});

		/* Validate that forms are filled before submitting them.. */
		$('form[name=login]').submit(function(){
			if(!$(this).checkForm()) {
				if($('p.warning').length == 0) {
					$('input[type=submit]').error('Username and password required.');
					return false;
				} else {
					$('p.warning').html('<strong>Error</strong>: ' + 'Username and password required.' + '<p>');
					return false;
				}
			}
			return true;
		});
	});
	/*]]>*/
</script>
{% endblock %}
{% block content %}
		<div class="section full">
			
			<h1>Login to your LifeLitUp account</h1>
            
             <div>
				<div class="signup-login">
					<div class="signup-login-text">
						<p><img src="themes/dotdotgo/images/avatar.png" alt="image" class="alignleft" /></p>
					</div>
					<form method="POST" name="login" id="loginform" action="login.php" autocomplete="off">
						<input type="hidden" name="op" value="login" />
						<p><input type="text" name="username" placeholder="Your name" class="yourname" /></p>
						<p><input type="password" name="password" placeholder="Your password" class="yourpassword" /></p>
						{% if msg %}<p class="warning">{{ msg|e }}.</p>{% endif %}
						<p><input type="submit" name="login" value="Login" /><a href="#">Forgotten Password?</a></p>
					</form>
				</div>
			</div>
			
		</div><!-- Section -->
    
{% endblock %}
