{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}
		<div class="section full">
			
			<h1>Reset Password</h1>
			
			<div>
				<div class="signup-login">
					<div class="signup-login-text">
						<p><img src="themes/dotdotgo/images/avatar.png" alt="image" class="alignleft" /></p>
					</div>
					<form method="POST" name="login" id="loginform" action="forgot_password.php" autocomplete="off">
						<p>
							{% if msg %}
								{% if msg != 'You have registered' %}
									<p class="alert">{{ msg|e }}.</p>							
								{% endif %}
							{% endif %}
						</p>
						{% if msg == 'You have registered' %}
							<p class="check">{{ msg|e }}.</p>
						{% endif %}
						<p><input type="password" name="password" placeholder="New password" class="yourpassword" /></p>
						<p><input type="password" name="cpassword" placeholder="Confirm password" class="yourpassword" /></p>
						<p><input type="submit" name="resetSubmit" value="Reset Password" /></p>
					</form>
				</div>
			</div>
			
		</div><!-- Section -->
    
{% endblock %}