{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block head %}
{% parent %}

<script type="text/javascript"><!--//--><![CDATA[//><!-- Nav will work if JS is turned off
sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
//--><!]]>
</script>
{% endblock %}

{% block content %}
	<div class="section-right wrap text clearfix">
	
		<div class="section right">
			
			<h1>About Our CEO: Tim Jones</h1>
			
            <img src="themes/dotdotgo/images/avatar.png" alt="image" class="alignleft" />
            
            <p>This is an example of a biography page, it can have either the left or right sidebar. Your content area can contain anything you like, below is an example of the various uses.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae leo id felis sollicitudin consectetur. Maecenas pulvinar auctor volutpat. Nam dictum, leo a laoreet consequat, magna ligula malesuada lectus, sit amet iaculis nisi est vitae augue. Morbi scelerisque tempus elit, eu imperdiet metus auctor pellentesque. Fusce vestibulum urna commodo mauris adipiscing suscipit. In feugiat, mi eget lobortis mattis, nibh massa sagittis mauris, sed posuere lorem velit in magna. Ut id nisi ultrices elit pulvinar porttitor at id ipsum.</p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tristique, felis vitae laoreet ullamcorper, arcu sem dapibus ipsum, id accumsan nisl lacus sit amet ipsum.</p>
            <blockquote><p>Nunc ipsum libero, blandit eget placerat ut, euismod a elit. Cras vel ipsum ut odio rhoncus accumsan vitae sit amet dui. Nulla facilisi. Phasellus et arcu lacus. Vivamus consequat placerat odio ac euismod. Duis velit odio, pharetra vel pellentesque in, commodo vitae turpis.</p></blockquote>

			<p>Phasellus pulvinar porta metus, in euismod ante feugiat vel. Duis in nisl tortor, non semper libero. Pellentesque convallis vestibulum libero non porta. Praesent elit lectus, feugiat vitae mattis vitae, luctus nec orci. Phasellus eu est scelerisque sapien fermentum blandit ac a quam. Nulla facilisi. Phasellus gravida porttitor nisl, nec egestas augue venenatis sed. Vivamus vulputate sodales libero, dapibus sodales metus dictum non. Pellentesque in placerat nisl. Suspendisse ut tellus hendrerit est sodales viverra.</p>
	
		</div><!-- Content Ends -->
		
		<div class="aside aside-left clearfix">
			<ul>              
                <li>
                    <h3>Connect with me</h3>
    					<ul class="thumbnail-list">
                        	<li><a href="#"><img src="themes/dotdotgo/images/email.png" alt="Email" title="Email" /> Email me: tim@dotdotgo.com</a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/twitter.png" alt="Twitter" title="Twitter" /> Follow on twitter: @timdotdotgo</a></li>
                            <li><a href="#"><img src="themes/dotdotgo/images/facebook.png" alt="Facebook" title="Facebook" /> My Facebook page: facebook</a></li>
                        </ul>
               	</li>
            	<li>
                	<h3>Newsletter</h3>
    					<div class="textwidget">
                        	<p>We will send you information about news, events and other features. Just enter your email address below, you can unregister anytime.</p>
                            <input type="text" onblur="if (this.value == '') {this.value = 'enter your email here';}"  onfocus="if (this.value == 'enter your email here') {this.value = '';}" /> <input type="button" value="submit" />
                        </div>
             	</li>
        	</ul>
		</div><!-- Sidebar Ends -->
{% endblock %}	
