{% extends "base.html" %}
{% block title %} Edit profile {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section right">
            {% if msg %}
                <p class="check">{{ msg|e }}</p>
            {% endif %}
			
			{% if profile.first_name == false %}
			<p class="star">This your first time viewing your profile. Simply update the details below to get started with LifeLitUp.</p>
			{% endif %}
			<h3>Your avatar</h3>
			<img alt="image" class="alignleft avatar" src="{{ avatar|e }}" />
			<p>Change your avatar at <a href="http://gravatar.com/site/signup/">gravatar.com</a></p> 
			<small>We're currently using {{ profile.email|e }}</small>

			<p></p>
			<p></p>
			<p></p>

			<div class="textbox">
				<form method="POST" action="profile.php?action=modify">
				<h3>Your details</h3>			
					<p>First name: <input type="textbox" style="new" name="first_name" value="{{ profile.first_name|e }}" placeholder="What's your first name?" /></p>
					<p>Last name: <input type="textbox" style="new" name="last_name" value="{{ profile.last_name|e }}" placeholder="What's your last name?" /></p>
					<p>Location: <input type="textbox" style="new" name="location" value="{{ profile.location|e }}" placeholder="New Zealand" /></p>

				<p></p>

				<h3>Social Networking</h3>
					<p>Facebook: <input type="textbox" style="new" name="facebook" value="{{ profile.facebook|e  }}" placeholder="What's your Facebook?" /></p>
					<p>Twitter: <input type="textbox" style="new" name="twitter" value="{{ profile.twitter|e }}" placeholder="What's your Twitter?" /></p>
					<p>Homepage: <input type="textbox" style="new" name="homepage" value="{{ profile.homepage|e }}" placeholder="What's your homepage?" /></p>
				
				<p></p>
	            
				<h3>Biography</h3>
					<textarea cols="60" rows="10" name="biography" placeholder="Your biography here! Example: I'm a mountaineer, and I fly all over the world on a kite.">{{ profile.biography|stripslashes }}</textarea>

				<p></p>
				
				<h3>Privacy Settings</h3>
					<p><input style="width: 10px" type="radio" value="0" name="privacy" {% if profile.privacy == 0 %} checked {% endif %}> Don't allow anybody to view my profile and contact details.</p>
					<p><input style="width: 10px" type="radio" value="1" name="privacy" {% if profile.privacy == 1 %} checked {% endif %}> Restrict my profile and contact details to my friends and family only.</p>
					<p><input style="width: 10px" type="radio" value="2" name="privacy" {% if profile.privacy == 2 %} checked {% endif %}> Allow everybody to view my profile and contact details.</p>

				<p></p>
				
				<h3>Save</h3>
					<input type="submit" name="profile_edit" value="Update" />

				</form>
			</div>
		</div><!-- Content Ends -->
		
		<div class="aside aside-left clearfix">
            <ul>    
                <li><h3><a href="profile.php">< Back to profile</a></h3></li>
				<li><h3><a href="#">> Notifications (0)</a></h3></li>
			</ul>
		</div><!-- Sidebar Ends -->
{% endblock %}	
