{% extends "base.html" %}
{% block title %} Your profile {% endblock %}
{% block head %}
{{ parent() }}
<script type="text/javascript" src="themes/dotdotgo/js/jquery-1.3.2.js" ></script>
<script type="text/javascript" src="themes/dotdotgo/js/jquery.qtip-1.0.0-rc3.min.js" ></script>
<script type="text/javascript">

$(document).ready(function() 
{

	$('.achievements a[href][title]').qtip({
		content: {
			text: false // Use each elements title attribute
		},
		style: { 
			width: 130,
			padding: 5,
			background: '#ffffff',
			color: 'black',
			textAlign: 'center',
			border: {
				width: 1,
				radius: 3,
				color: '#018ede'
			},
			tip: true
		},
		position: {
            corner: {
                tooltip: 'topMiddle', // Use the corner...
                target: 'bottomMiddle' // ...and opposite corner
            }
        }
   });
   

});
</script>
{% endblock %}
{% block content %}	
		<div class="section right">
		
			{% if isViewing %}
				<h1>{{ profile.first_name|e }}'s profile page</h1>
			{% else %}
				<h1>Your profile page</h1>
			{% endif %}
			{% if msg %}
				<p class="check">{{ msg|raw }}</p>
			{% endif %}

            <img src="{{ avatar }}" alt="image" class="alignleft avatar" />
			<p><p>
			<p>
			{% if isViewing %}
				{% if profile.privacy == 1 and isFriend != null or profile.privacy == 2 %}
					You're currently viewing {{ profile.first_name|e }}'s profile page
				{% else %}
					{{ profile.first_name|e }}'s profile page is set to strict privacy.
				{% endif %}
			{% else %}
				Welcome to your profile page, {{ profile.first_name|e }} {{ profile.last_name|e }}.</p>          
			{% endif %} 
			<p></p>
			<p></p> 

			{% if disabled %}
			<h3>What's happening?</h3>
			{% if isViewing == false %}
				<input type="text" name="new_status" placeholder="The sky is falling, let's go surfing!" class="whats_happening" />
				<a href="#">Post</a>	
				<p></p>
			{% endif %}
			{% if latestStatus %}
				<blockquote><p>{{ latestStatus.status }}<p></blockquote>
			{% endif %}
			{% endif %}
			
			{% if isFriend != null and profile.privacy == 1 or profile.privacy == 2 or isViewing == 0 %}
				<h3>Recent Activities</h3>
				{% for activity in activities %}
					{% if activity.act_type == "achievement" %}
						<p>{{ profile.first_name|e }} {{ profile.last_name|e }} completed the achievement <a href="goals_show.php?id={{activity.id}}">{{ activity.name }}.</a></p>
						<p style="margin-top: -16px; font-size: 80%; color:#777777;">{{ activity.date|actTime }}.</p>
					{% endif %}
					{% if activity.act_type == "todo" %}
						<p>{{ profile.first_name|e }} {{ profile.last_name|e }} added the achievement <a href="goals_show.php?id={{activity.id}}">{{ activity.name }}</a> to their TODO list.</p>
						<p style="margin-top: -16px; font-size: 80%; color:#777777;">{{ activity.date|actTime }}.</p>
					{% endif %}
					{% if activity.act_type == "comment" %}
						<p>{{ profile.first_name|e }} {{ profile.last_name|e }} commented on the achievement <a href="goals_show.php?id={{activity.id}}">{{ activity.name }}</a>.</p>
						<p style="margin-top: -16px; font-size: 80%; color:#777777;">{{ activity.date|actTime }}.</p>
					{% endif %}
					{% if activity.act_type == "friend" %}
						<p>{{ profile.first_name|e }} {{ profile.last_name|e }} and <a href="profile.php?userid={{activity.id}}">{{ activity.name }}</a> are now friends.</p>
						<p style="margin-top: -16px; font-size: 80%; color:#777777;">{{ activity.date|actTime }}.</p>
					{% endif %}
				{% else %}
					{% if isViewing %}
					<ul><p>{{ profile.first_name|e }} has no history to show.<p></ul>
					{% else %}
					<ul><p>You've got no history! We can solve that by adding a goal... <a href="goals.php">find a goal and add it</a></p></ul>
					{% endif %}
				{% endfor %}
			{% endif %}
			<p></p>

			<h3>Achievements</h3>
			<ul class="achievements">
				{% for achievement in achievements %}
					<li><a href="goals_show.php?id={{achievement.id}}" title="{{achievement.name}}"><img style="vertical-align: middle" src="{{ achievement.icon|e }}" /></a></li>
				{% else %}
					{% if isViewing %}
					<p>{{ profile.first_name|e }} has not received any achievements.</p>
					{% else %}	
					<p>You haven't been awarded any achievements yet. Complete a goal, and be on your way to fortune and glory!</p>
					{% endif %}
				{% endfor %}
			</ul>
			
		</div><!-- Content Ends -->
		
		<div class="aside aside-left clearfix">
			<ul>
				{% if isViewing == false %}
				<li><h3><a href="profile.php?action=modify">> Modify Profile</a></h3></li>
				<li><h3><a href="#">> Notifications (0)</a></li>
				{% else %}              
                <li>

					<h3>Connect with me</h3>
						{% if isViewing and isFriend == false or profile.privacy == 2 and isFriend == false %}
							<p><a href="profile.php?action=add&friendid={{profile.user_id}}">Add as Friend</a></p>
						{% endif %}
				{% endif %}	
					{% if isFriend != null and profile.privacy == 1 or profile.privacy == 2 and isViewing %} 		
					<ul class="thumbnail-list">
                        	<li><a href="mailto:{{ profile.email|e }}"><img src="themes/dotdotgo/images/email.png" alt="Email" title="Email" /> Email me: {{ profile.email|e }}</a></li>
                            {% if profile.twitter %}<li><a href="http://twitter.com/#!/{{ profile.twitter|e }}"><img src="themes/dotdotgo/images/twitter.png" alt="Twitter" title="Twitter" /> Follow on twitter: @{{ profile.twitter|e }}</a></li> {% endif %}
                           {% if profile.facebook %} <li><a href="http://www.facebook.com/profile.php?id={{ profile.facebook|e }}"><img src="themes/dotdotgo/images/facebook.png" alt="Facebook" title="Facebook" /> My Facebook page: {{ profile.first_name|e }} {{ profile.last_name|e }}</a></li> {% endif %}
                        </ul>
					
					<h3>Friends</h3>
						<ul>
							{% for friend in friends %}
								<li><a href="profile.php?userid={{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a>{% if isViewing == false %}<a href="profile.php?action=remove&friendid={{friend.id}}"><img style="margin-top: 6px; float: right;" src="themes/dotdotgo/images/delete-icon.png" /></a>{% endif %}</li>
							{% else %}
								{% if isViewing == false %}
								<li>You've got no friends yet...</li>
								{% else %}
								<li>None</li>
								{% endif %}
							{% endfor %}
						</ul>	
					{% endif %}				
               	</li>
        	</ul>
		</div><!-- Sidebar Ends -->

{% endblock %}	
