{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block head %}
{{ parent() }}
<!--[if IE]><link rel="stylesheet" href="/themes/wip2/forms.ie.css" type="text/css" media="screen" /><![endif]-->
<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
	/*<![CDATA[*/
	$(function(){
		/* Global error stack */
		var _errs = [];
		$('#error').hide();
		/* Some multi-use functions. */
		$.fn.error = function(_e) {
			
			return $('<p class="alert" />')
			
					.html('<p class="alert"><strong>Error</strong>: ' + _e + '</p>')
					.insertAfter(this);
		};
		$.fn.checkForm = function() {
			_errs = [];
			var _c = true;
			
			$('input.required').each(function() {

				if(!_c) {return;}
				_c = ($(this).val().length > 0) && _c;
				if(!_c) { _errs.push($(this).attr('title') + ' is a required field.'); }
			});
			$('input.empty').each(function(){

				if(!_c) {return;}
				_c = ($(this).val().length == 0) && _c;
				if(!_c) { _errs.push('You must remove the text from the last box.'); }
			});
			if($('#usrPassA').val() != $('#usrPassB').val()) { _c = false; _errs.push('Your two passwords do not match.'); }
			return _c;
		}


		/* Clear any error message when the user begins typing. */
		$('input.required').add('input.empty').keypress(function(event) {		
				if($('.alert').length > 0) {
				if($(this).checkForm()) {
					$('.alert').fadeOut(750, function(){
						$(this).remove();
					})
				}
			}
		});

		/* Validate that forms are filled before submitting them.. */
		$('form[name=register]').submit(function(){
			if(!$(this).checkForm()) {
				if($('.alert').length == 0) {
					$('input[type=submit]').error(_errs[0]);
					return false;
				} else {
					$('#error').show();
					$('.alert').html('<strong>Error</strong>: ' + _errs[0] + '</p>');
					return false;
				}
			}
			return true;
		});
	});
	/*]]>*/
</script>
{% endblock %}

{% block content %}
	<div class="section full">
			
		<h1>Signup for your personal LifeLitUp account</h1>
		<div>
			<div class="signup-login">
				<div class="signup-login-text-alt">
				</div>
				
				<form name="register" action="" method="POST" autocomplete="off">
					<p>
						<p id="error" class="alert"></p>	
						{% if msg %}
							{% if msg != 'You have registered' %}
								<p class="alert">{{ msg|e }}.</p>							
							{% endif %}
						{% endif %}
					</p>
				{% if msg == 'You have registered' %}
					<p class="check">{{ msg|e }}.</p>
				{% endif %}
					<input type="hidden" name="op" value="new" />
					<p class="lab"><label for="emailAdress" accesskey="n">Email: </label></p>
					<p><input title="Email" class="required" placeholder="Your email address" id="emailAdress" type="text" name="email" maxlength="30" /></p>
					<p class="lab"><label for="usrPassA" accesskey="p">Password: </label></p>
					<p><input title="Password" class="required" id="usrPassA"  type="password" name="pass1" /></p>
					<p class="lab"><label style="width: 200px" for="usrPassB" accesskey="a">Password Again: </label></p>
					<p><input title="Password Repeated" class="required" id="usrPassB"  type="password" name="pass2" /></p>
					<p class="lab"><label for="usrSeed" accesskey="r">Remove text: </label></p>
					<p><input class="empty" id="usrSeed" value="{{ seed|e }}" type="text" name="remove" /></p>
					<p><input type="submit" name="register" value="Register" /></p>
				</form>
			</div>
		</div><!-- Signup Box, hidden from view -->

	</div><!-- Section -->

{% endblock %}
