{% extends "base.html" %}
{% block title %} Todo {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section right">
		
			{% if categoryName %}
			<h1>{{ categoryName.name|e }}</h1>
			{% else %}	
			<h1>Your todo list</h1>
			{% endif %}

			{% if msg %}
				<p class="alert">{{ msg }}</p>
			{% endif %}	

			{% if goals == false %}
			<p>This is your todo list dashboard. You can view your progress on what goals you've added, you can see your statistics and eat bacon in Zimbabwe!</p>
			<p><img src="images/bacon.jpg" /></p>
			<p></p>	
			<p></p>
			{% endif %}

            <div class="goals">
			<ul>
           	{% for goal in goals %}
            	<li><img style="vertical-align: middle" src="{{ goal.icon|e }}" /> <a href="goals_show.php?id={{ goal.id|e }}">{{ goal.name|e }}</a>
				<a href="todo.php?action=remGoal&id={{ goal.id|e}}&catid={{ goal.category_id }}"><img style="vertical-align: middle;" src="themes/dotdotgo/images/delete-icon.png" alt="Remove Goal" /></a> <a href="completion.php?id={{ goal.id|e}}"><img style="vertical-align: middle;" src="themes/dotdotgo/images/complete.png" alt="Goal Completed" /></a></li> 
            {% endfor %}
            </ul>
            </div>
			<p class="note"><a href="goals.php">Add some goals here</a></p>

		</div><!-- Section -->

        <div class="aside aside-left clearfix">
            <ul>    
                {% for category in categories %}
					<li><h3>> <a href="todo.php?catid={{ category.id|e }}">{{ category.name|e }}</a> ({{ category.count|e }})</h3></li>
				{% else %}
					<li><h3>You've got no goals.</h3></li>
					<li><h3>> <a href="goals.php">Add some</a></h3></li>
				{% endfor %}
            </ul>
        </div><!-- Sidebar Ends -->

{% endblock %} 	
