{% extends "base.html" %}
{% block title %} Todo {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}	
		<div class="section full">
			
			<h1>Your todo list</h1>
		
            <div class="goals">
            {% for category in categories %}
                <h3><a href="#">{{ category.name|e }}</a></h3>
                <ul>
                {% for goal in goals %}
                    {% if goal.category_id == category.id %}
                        <li>
                            <img src="{{ goal.icon|e }}" /> <a href="goals_show.php?id={{ goal.id|e }}">{{ goal.name|e }}</a>
							<a href="#"><img src="themes/dotdotgo/images/remove.png" /></a> 
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
            </div>

			<p></p>
			<p class="note"><a href="goals.php">Add some more goals here</a></p>

		</div><!-- Section -->

{% endblock %} 	
