{% block top %} 
	<div class="header-top">
        <div class="header-center clearfix">
	  	<div class="search">
        	<form method="get" id="searchform" action="goals.php" >
				<div>
					<input type="text" value="search" onblur="if (this.value == '') {this.value = 'search';}"  onfocus="if (this.value == 'search') {this.value = '';}" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Search {{ search }}" />
				</div>
			</form>
	   	</div>
 
       <div class="login">
                <ul>
    				{% if userid %}
						<li class="user-login"><a href="login.php?action=logout">Logout</a></li>
					{% else %}
	                	<li class="user-signup"><a href="register.php">User Signup</a></li>
                    	<li class="user-login"><a href="login.php">User Login</a></li>
                	{% endif %}
				</ul>
            </div>
        </div><!-- Header Center -->
    </div><!-- Header Top -->
{% endblock %}
